.file-container {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='3' ry='3' stroke='%23333' stroke-width='3' stroke-dasharray='6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 3px;
    width: 60%;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #fafafa;
    text-align: center;
    color: #7f7f7f;
    font-size: 0.9em;
}

.file-list {
    width: 60%; 
    margin: auto;
}

.uploaded-files {
    font-size: 0.85em;
}