@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700;900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

.file-container {
    /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='3' ry='3' stroke='%23333' stroke-width='3' stroke-dasharray='6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e"); */
    border-radius: 10px;
    border: 2px dashed #949494;
    width: 60%;
    margin: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #fafafa;
    text-align: center;
    color: #7f7f7f;
    font-size: 0.9em;
    cursor: pointer;
}

.file-list {
    width: 60%; 
    margin: auto;
}

.uploaded-files {
    font-size: 0.85em;
}

ul {
    margin-top: -0.6em;
}

.checkmark {
    position: relative;
    top: 3px;
    margin-left: 0.4em;
}

