.header {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background-color: white;
}

.header1 {
  margin: auto;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.header4 {
  margin: auto;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#generatePDF-btn {
  text-align: center;
}

#generateMsg {
  text-align: center;
  color: red;
  margin-top: 0.4em;
}