@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.container {
    display: grid;
    grid-template-columns: 250px minmax(10px, 1fr);
    height: 100%;
    background-color: #fafafb;
}

.rightContainer {
    width: 100%;
    background-color: #fafafb;
    grid-column: 2;
    min-height: 100vh;
}

.topMenu {
    background-color: white;
    position: sticky;
    top: 0px;
    height: 60px;
    border-top:    none;
    border-right:  none;
    border-bottom: 1px solid #f0f0f0;
    border-left:   1px solid #f0f0f0;
    padding-left: 10px;
}

.dashboard {
    padding-left: 15px;
}

.timelineRow {
    margin: 0px auto;
    width: 95%;
    background-color: black;
    color: white;
    height: 2%;
    display: grid;
    grid-template-columns: 13.6% 86.4%;
}

.timelineDate {
    grid-column: 1;
    margin: auto;
    text-align: center;
    color: #ffa500;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.timeline {
    grid-column: 2;
    display: grid;
    grid-template-columns: 6.66% 6.66%  6.66%  6.66%  6.66%  6.66%  6.66%  6.66%  6.66%  6.66%  6.66%  6.66%  6.66%  6.66%  6.66%; 
    font-family: Roboto; 
    font-size: 0.8em;
}

.time1 {
    grid-column: 1;
    margin: auto;
    text-align: center;
}

.time2 {
    grid-column: 2;
    margin: auto;
    text-align: center;
}

.time3 {
    grid-column: 3;
    margin: auto;
    text-align: center;
}

.time4 {
    grid-column: 4;
    margin: auto;
    text-align: center;
}

.time5 {
    grid-column: 5;
    margin: auto;
    text-align: center;
}

.time6 {
    grid-column: 6;
    margin: auto;
    text-align: center;
}

.time7 {
    grid-column: 7;
    margin: auto;
    text-align: center;
}

.time8 {
    grid-column: 8;
    margin: auto;
    text-align: center;
}

.time9 {
    grid-column: 9;
    margin: auto;
    text-align: center;
}

.time10 {
    grid-column: 10;
    margin: auto;
    text-align: center;
}

.time11 {
    grid-column: 11;
    margin: auto;
    text-align: center;
}

.time12 {
    grid-column: 12;
    margin: auto;
    text-align: center;
}

.time13 {
    grid-column: 13;
    margin: auto;
    text-align: center;
}

.time14 {
    grid-column: 14;
    margin: auto;
    text-align: center;
}

.time15 {
    grid-column: 15;
    margin: auto;
    text-align: center;
}

.venueRow {
    display: flex;
    margin: 0px auto;
    width: 95%;
    background-color: black;
    color: white;
}

.venue {
    width: 15%;
    font-family: Roboto;
    color: black;
    font-size: 0.8em;
    font-weight: 700;
    margin: auto;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
    background-color:  #a7a9ac;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.screen {
    color: black;
    width: 95%;
    background-color: lightcyan;
    display: grid;
    grid-template-columns: 1.66% 1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66% 1.66% 1.66% 1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66% 1.66% 1.66% 1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66% 1.66% 1.66% 1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66% 1.66% 1.66% 1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66% 1.66% 1.66% 1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66%  1.66% 1.66%; 
}

.screen1 {
    grid-column: 1;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen2 {
    grid-column: 2;
    background-color: #404040; 
    border-right: 2px dotted black;
}

.screen3 {
    grid-column: 3;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen4 {
    grid-column: 4;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen5 {
    grid-column: 5;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen6 {
    grid-column: 6;
    background-color: #404040; 
    border-right: 2px dotted black;
}

.screen7 {
    grid-column: 7;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen8 {
    grid-column: 8;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen9 {
    grid-column: 9;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen10 {
    grid-column: 10;
    background-color: #404040; 
    border-right: 2px dotted black;
}

.screen11 {
    grid-column: 11;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen12 {
    grid-column: 12;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen13 {
    grid-column: 13;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen14 {
    grid-column: 14;
    background-color: #404040; 
    border-right: 2px dotted black;
}

.screen15 {
    grid-column: 15;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen16 {
    grid-column: 16;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen17 {
    grid-column: 17;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen18 {
    grid-column: 18;
    background-color: #404040; 
    border-right: 2px dotted black;
}

.screen19 {
    grid-column: 19;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen20 {
    grid-column: 20;
    background-color: #404040; 
    border-right: 1px dotted black;
}


.screen21 {
    grid-column: 21;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen22 {
    grid-column: 22;
    background-color: #404040; 
    border-right: 2px dotted black;
}

.screen23 {
    grid-column: 23;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen24 {
    grid-column: 24;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen25 {
    grid-column: 25;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen26 {
    grid-column: 26;
    background-color: #404040; 
    border-right: 2px dotted black;
}

.screen27 {
    grid-column: 27;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen28 {
    grid-column: 28;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen29 {
    grid-column: 29;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen30 {
    grid-column: 30;
    background-color: #404040; 
    border-right: 2px dotted black;
}

.screen31 {
    grid-column: 31;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen32 {
    grid-column: 32;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen33 {
    grid-column: 33;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen34 {
    grid-column: 34;
    background-color: #404040; 
    border-right: 2px dotted black;
}

.screen35 {
    grid-column: 35;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen36 {
    grid-column: 36;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen37 {
    grid-column: 37;
    background-color: #404040; 
    border-right: 1px dotted black;
}

.screen38 {
    grid-column: 38;
    background-color: #404040; 
    border-right: 2px dotted black;
}

.screen39 {
    grid-column: 39;
    background-color: #404040; 
    border-right: 1px dotted black;
}



.screenBox {
    grid-column: span 8;
    background-color: white;
    font-family: Roboto;
    font-size: 0.6em;
    text-align: center;
    /* border: 1px solid black; */
}