@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.timelineRow {
    margin: 0px auto;
    width: 90%;
    background-color: #231f20;
    color: white;
    height: 2%;
    display: grid;
    grid-template-columns: 15% 85%;
}

.timelineDate {
    text-align: center;
    grid-column: 1;
    width: 100%;
    margin: auto;
    color: #ffa500;
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.9em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;

}

.timeline {
    grid-column: 2;
    display: grid;
    grid-template-columns: 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25% 6.25%;
    font-family: Roboto;
    font-size: 0.8em;
}

.time {
    margin: auto;
    width: 100%;
    text-align: center;
}

.venueRow {
    display: flex;
    margin: 0px auto;
    width: 90%;
    background-color: black;
    color: white;
}

.venue {
    width: 15%;
    font-family: Roboto;
    color: black;
    font-size: 0.8em;
    font-weight: 700;
    margin: auto;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-align: center;
    background-color: #a7a9ac;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

.screen {
    color: black;
    width: 85%;
    background-color: #808080;
    display: grid;
    grid-template-columns: 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625% 1.5625%;
}

.grid1 {
    border-right: 1px dotted black;
}

.grid2 {
    border-right: 2px dotted black;
}

.screenBox {
    position: absolute;
    z-index: 1;
    background-color: white;
    margin-left: 0;
    /* width: 15%; */
    font-family: Roboto;
    font-size: 0.6em;
    text-align: center;
    line-height: 0.58em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-top: 1px solid black;
    border-left: 1px dotted black;
    border-bottom: 1px solid black;
    border-right: 3px solid #da00b9;
}

.screenInfo {
    color: grey;
    font-size: 0.8em;
    line-height: 0.9em;
}