.sidebar {
    height: 100%;
    width: 100%;
    background-color:white;
    position: sticky;
    top:0;
    align-self: start;
    border-top:    none;
    border-right:  1px solid #f0f0f0;
    border-bottom: none;
    border-left:   none;
}