@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.sidebar {
    height: 100%;
    width: 250px;
    background-color:white;
    position: sticky;
    top: 0;
    align-self: start;
    border-top:    none;
    border-right:  1px solid #f0f0f0;
    border-bottom: none;
    border-left:   none;
    font-family: Roboto;
    padding-left: 15px;
}

.sidebarItems {
    font-size: 0.9em;
    line-height: 1em;
}

.sidebarHeader {
    font-weight: 500;
    font-size: 1.05em;
}

.sidebarBlock {
    margin-left: 1em;
}

.sideBarBlock2 {
    margin-left: 0em;
}

.lineBreak {
    margin-bottom: 2.5em;    
    margin-top: 0.5em;
    margin-left: -15px;
    border-bottom: 1px solid lightgrey;
}

.lineBreak2 {
    margin-bottom: 1.7em;    
    margin-top: 2em;
    margin-left: -15px;
    border-bottom: 1px solid lightgrey;
}

#colorPicker {
    width:auto;
    padding:0 0 0 0;
    display:table;
    margin: 0;
    position: relative;
    left: 150px;
    bottom: 18px;
}

#colorLabels {
    margin: 0;
}

#fontLabel {
    margin: 0;
    position: relative;
    bottom: 15px;
}



